*{
    font-family: "Roboto", sans-serif;
}
header{
    position: sticky;
}
nav {
height: 50px;
background-color: #212121;
}

.menu {
    display: flex;
    justify-content: space-between;
    padding: 13px 70px;
    margin: 0;
    list-style-type: none;
}
.menu .menu_link{
color: #FFF;
font-size: 15px;
font-weight: 300;
}

.menu .menu_item{
    border-right: 2px dotted black;
    padding-right: 28px;
}

.subheader{
    position: absolute;
    width: 100%;
    height:84px;
    background-color: rgba(0, 0, 0, .6);
}
.subheader .subheader_logo{
    display: block;
    max-width: 100%;
    margin-top: 16px;
}
.subheader .subheader_official{
    margin-top: 6px;
    color: #FFF;
    font-size: 13px;
    font-weight: 100;
    opacity: 0.5;
}
.subheader .subheader_call{
    margin-top: 19px;
    color: #FFF;
    font-size: 12px;
    font-weight: 300;
    text-align: right;
}
.subheader .subheader_phone{
    text-align: right;
    display: block;
    margin-top: 8px;
    color: #FFF;
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 12px;
    }
    .subheader .subheader_btn{
        margin-top: 19px;
        width: 172px;
        height: 46px;
        flex-shrink: 0;
        border-radius: 4px;
        border: none;
        background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
        box-shadow: 0px -3px 0px 0px rgba(0, 0, 0, 0.12) inset;
        color: #FFF;
        text-align: center;
        text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
        font-size: 14px;
        font-weight: 400;
        text-transform: uppercase;

    }
    .promo{
        min-height: 800px;
        background:url("../img/uber_bg.png") center center/cover no-repeat;
        padding: 150px 0 135px 0;
     }
    .promo .promo_header{
        color: #FFF;
        text-align: center;
        font-size: 60px;
        font-weight: 900;
        text-transform: uppercase;
        margin: 0;
    }
    .promo .promo_subheader {
        color: #FFF;
        text-align: center;
        font-size: 36px;
        font-weight: 700;
        text-transform: uppercase;
        margin: 0;
        margin-top: 10px;
    }
    .promo .promo_descr{
        color: #FFF;
        text-align: center;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; 
        margin-top: 16px;
    }

    .promo .promo_btn{
        display: block;
        margin: 115px auto 0;
        width: 259px;
        height: 63px;
        flex-shrink: 0;
        border: none;
        border-radius: 4px;
        background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
        box-shadow: 0px -4px 0px 0px rgba(0, 0, 0, 0.12) inset;
        color: #FFF;
        text-align: center;
        text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
        font-size: 18px;
        font-weight: 400;
        text-transform: uppercase;
    }

    .reasons{
          padding: 77px 0 64px 0;
    }

    .label{
        margin: 0 auto;
        height: 24px;
        width: 112px;
        padding: 5px 12px;
        background-color: #000000;
        color: #ffffff;
        font-size: 11px;
        font-weight: 300;
        text-transform: uppercase;
        }

    .title{
        margin-bottom: 0;
        margin-top: 38px;
        color: #222222;
        font-size: 38px;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
    }

    .reasons .reasons_block {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 35px;
    }
    
    .reasons .reasons_block .reasons_round {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 26px;
        width: 113px;
        height: 113px;
        background-color: #1eacc7;
        border-radius: 100%;
    }
    
    .reasons .reasons_block .reasons_descr {
        width: 343px;
    }
    
    .reasons .reasons_block .reasons_descr .reasons_subtitle{
        line-height: 21px;
        color: #1eacc7;
        font-size: 17px;
        font-weight: 400;
    }
    
    .reasons .reasons_block .reasons_descr .reasons_text {
        color: #202020;
        font-size: 15px;
        font-weight: 300;
        line-height: 21px;
    }

    
